<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is home page. 1+2</h1>
    <h2> <%= 1+2 %></h2>
    <h2> <%= 1*2 %></h2>
    <h2> <%= 1-2 %></h2>
    <h2> <%= 1/2 %></h2>
    <h2> <%= "Nandana".toUpperCase() %></h2>
    <h2> <%= ["hello", "bonjour", "namaste"][1] %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ducimus autem ipsa voluptatibus, eius minus possimus labore consequuntur magnam nostrum. Dolorum aliquam maiores corrupti dicta odio sed aliquid similique aperiam?</p>
    <button>Click me.</button>
</body>
</html>